body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
  font-size: 16px;
  font-family: Verdana, Arial, sans-serif;
  border-top: 4px solid #666; }

header {
  margin: 40px 60px 0;
  text-align: left;
  border-bottom: 1px solid #ddd; }
  header * {
    font-weight: bold; }

footer {
  margin: 40px 60px;
  text-align: right; }

.navbar {
  background: #fff;
  margin-bottom: 0;
  border: 0; }
  .navbar * {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .navbar.navbar-default .navbar-nav li {
    cursor: pointer;
    margin: 0 10px;
    border-bottom: 2px solid transparent; }
    .navbar.navbar-default .navbar-nav li:hover {
      border-bottom: 2px solid #ccc; }
    .navbar.navbar-default .navbar-nav li.active {
      border-bottom: 2px solid #666; }
      .navbar.navbar-default .navbar-nav li.active:hover {
        border-bottom: 2px solid #ccc; }
      .navbar.navbar-default .navbar-nav li.active a {
        background: transparent;
        color: #111; }
        .navbar.navbar-default .navbar-nav li.active a:hover {
          background: transparent;
          color: #666; }

body {
  background: #f8f8f8; }

nav * {
  background: #f8f8f8; }

a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  a:hover {
    text-decoration: none; }

.display-none {
  display: none; }

textarea {
  resize: vertical; }

img {
  box-shadow: 0 0 2px 2px #eee inset; }

.btn {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn * {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

main {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  main .content {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px; }
    main .content .content-item {
      width: 100%;
      padding: 4px;
      overflow: hidden; }
      main .content .content-item li {
        margin: 8px; }
      main .content .content-item .content-item-name {
        width: 100%;
        padding-bottom: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd; }
      main .content .content-item .content-item-keys {
        width: 100%;
        padding: 8px 16px; }
        main .content .content-item .content-item-keys .content-item-key {
          margin-bottom: 8px; }
          main .content .content-item .content-item-keys .content-item-key:last-child {
            margin-bottom: 0; }
      main .content .content-item .content-label {
        display: inline-table; }
        main .content .content-item .content-label label {
          margin: 0; }
      main .content .content-item .checkbox {
        display: inline-table; }
    main .content .content-header {
      width: 100%;
      margin-bottom: 8px;
      text-align: center;
      font-weight: bold;
      font-size: 1.5em; }
      main .content .content-header button {
        margin-left: 8px; }
    main .content .help-icon {
      line-height: 22px;
      padding: 6px;
      cursor: pointer;
      position: relative;
      z-index: 10; }
    main .content .loading-spinner {
      -webkit-animation: infinite-rotate 2s linear infinite;
      -moz-animation: infinite-rotate 2s linear infinite;
      animation: infinite-rotate 2s linear infinite; }
    main .content .loading-dot::after {
      content: '';
      -webkit-animation: dotting 3s linear infinite;
      -moz-animation: dotting 3s linear infinite;
      animation: dotting 3s linear infinite; }
@-webkit-keyframes infinite-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes infinite-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes infinite-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes dotting {
  25% {
    content: '.'; }
  50% {
    content: '..'; }
  75% {
    content: '...'; } }
@-moz-keyframes dotting {
  25% {
    content: '.'; }
  50% {
    content: '..'; }
  75% {
    content: '...'; } }
@keyframes dotting {
  25% {
    content: '.'; }
  50% {
    content: '..'; }
  75% {
    content: '...'; } }
@media (min-width: 768px) {
  .content .form-group {
    width: auto;
    margin-left: 160px; }
  .content .content-item .content-label {
    width: 120px;
    line-height: 34px;
    text-align: right;
    position: relative; }
  .content .content-item .content-input {
    width: 100%;
    margin-left: -160px;
    padding-left: 160px;
    position: relative;
    float: right; }
    .content .content-item .content-input input {
      width: 100%; }

  #diary-detail-area .content-input .input-group-btn {
    width: 1px; } }
@media (min-width: 1200px) {
  header {
    width: 1062px;
    margin-left: auto;
    margin-right: auto; }

  footer {
    width: 1062px;
    margin-left: auto;
    margin-right: auto; }

  .navbar {
    width: 1182px;
    margin-left: auto;
    margin-right: auto; }

  .content {
    width: 1064px; } }
body:before {
  content: '- Mobile -';
  position: fixed;
  top: 8px;
  left: 8px;
  z-index: 9999;
  overflow: hidden; }

@media (min-width: 768px) {
  body:before {
    content: '- Tablet -'; } }
@media (min-width: 992px) {
  body:before {
    content: '- Medium desktop -'; } }
@media (min-width: 1200px) {
  body:before {
    content: '- Large desktop -'; } }
#diary-area #diary-search {
  display: inline-table; }
#diary-area .diary-main {
  cursor: pointer; }
#diary-area .diary-hover {
  background: #fdfdfd;
  margin: 0px auto;
  padding: 8px;
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  z-index: 20; }
  #diary-area .diary-hover div {
    padding: 8px; }
  #diary-area .diary-hover .diary-image-area {
    padding: 8px;
    display: inline-block; }
    #diary-area .diary-hover .diary-image-area .diary-image {
      width: 240px;
      height: auto;
      padding: 2px;
      border: 1px solid #ddd; }
  #diary-area .diary-hover .btn-group {
    width: 100%;
    text-align: center; }
    #diary-area .diary-hover .btn-group .btn {
      width: 33.33333%; }

#diary-detail-area .detail-upload {
  display: none; }
#diary-detail-area button.detail-image-preview {
  padding: 2px; }
  #diary-detail-area button.detail-image-preview img {
    margin: 0;
    padding: 0;
    height: 28px;
    width: auto; }

/*# sourceMappingURL=main.css.map */
