<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <!-- title -->
    <title>Simple Diary</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <h1>Simple Diary</h1>
    </header>
    <!-- nav -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarTop">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarTop">
          <ul class="nav navbar-nav">
            <li id="switch-desc"><a>Desc</a></li>
            <li id="switch-user"><a>Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- main -->
    <main>
      <!-- error -->
      <div class="content" id="error-area">
        <div class="content-header">
          非対応ブラウザ
        </div>
        <div class="content-item">
          ES2015をサポートしているブラウザでご覧ください。
        </div>
      </div>
    </main>
    <!-- footer -->
    <footer>
      <p id="footer-text">
        @ 2017 <a href="https://github.com/AyaNakazawa/simple_diary" target="_blank">Simple Diary</a>
      </p>
    </footer>
    <!-- confirm -->
    <div id="confirm-view"></div>
    <!-- template -->
    <!-- confirm-view -->
    <script type="text/template" id="confirm-view-template">
      <div id="<%- confirmId %>" class="modal fade" data-backdrop="static" data-keyboard="false" data-html="true" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" id="<%- confirmId %>-close">
                <span>
                  <i class="fa fa-close"></i>
                </span>
              </button>
              <h4 class="modal-title"><%- confirmTitle %></h4>
            </div>
            <% if (imageUrl.length > 0) { %>
              <img class="modal-body" src="<%- imageUrl %>" style="width:100%; height:auto;">
              <% } %>
            <% if (confirmMessage.length > 0) { %>
              <div class="modal-body"><%- confirmMessage %></div>
            <% } %>
            <% if (type >= 1) { %>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="<%- confirmId %>-yes"><%- yes %></button>
                <% if (type >= 2) { %>
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="<%- confirmId %>-no"><%- no %></button>
                <% } %>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </script>
    <!-- loading -->
    <script type="text/template" id="loading-template">
      <div class="content-header">
        <%- header %>
        <span class="fa fa-spinner loading-spinner"></span>
      </div>
      <div class="content-item">
        <%- message %>
        <span class="loading-dot"></span>
      </div>
    </script>
    <!-- alert -->
    <script type="text/template" id="alert-template">
      <div class="alert alert-<%- type %> alert-dismissible" role="alert">
        <% if (close) { %>
        <button type="button" class="close" data-dismiss="alert">
          <span class="fa fa-close" aria-hidden="true"></span>
        </button>
        <% } %>
        <%- message %>
      </div>
    </script>
    <!-- ruby -->
    <script type="text/template" id="ruby-template">
      <ruby>
        <rb><%- body %></rb>
        <rp>（</rp>
        <rt><%- ruby %></rt>
        <rp>）</rp>
      </ruby>
    </script>
    <!-- not-login -->
    <script type="text/template" id="not-login-template">
      <div class="content-item form-inline" id="user-id-area">
        <div class="content-label">
          <label for="user-id">ID</label>
        </div>
        <span class="help-icon fa fa-question-circle" id="user-id-help"></span>
        <div class="content-input">
          <input type="text" id="user-id" class="form-control" value="<%- id %>" placeholder="Enter your ID">
        </div>
      </div>
      <div class="content-item form-inline" id="user-password-area">
        <div class="content-label">
          <label for="user-password">パスワード</label>
        </div>
        <span class="help-icon fa fa-question-circle" id="user-password-help"></span>
        <div class="content-input">
          <input type="password" id="user-password" class="form-control" value="<%- password %>" placeholder="Enter your password">
        </div>
      </div>
      <!-- <div class="content-item form-inline" id="user-check-area">
        <span class="checkbox">
          <label><input type="checkbox" id="user-check">ログインしたままにする</label>
        </span>
        <span class="help-icon fa fa-question-circle" id="user-check-help"></span>
      </div> -->
      <div class="content-item form-group" id="login-submit-area">
        <button class="btn btn-default" id="login-submit"><i class="fa fa-sign-in" aria-hidden="true"></i> ログイン</button>
        <button class="btn btn-default" id="signup-submit"><i class="fa fa-user-plus" aria-hidden="true"></i> サインアップ</button>
      </div>
    </script>
    <!-- logined -->
    <script type="text/template" id="logined-template">
      <div class="content-item-header">
        パスワードの変更
      </div>
      <div class="content-item form-inline" id="option-old-password-area">
        <div class="content-label">
          <label for="option-old-password">現在のパスワード</label>
        </div>
        <span class="help-icon fa fa-question-circle" id="option-old-password-help"></span>
        <div class="content-input">
          <input type="password" id="option-old-password" class="form-control" value="<%- password %>" placeholder="Enter old password">
        </div>
      </div>
      <div class="content-item form-inline" id="option-new-password-area">
        <div class="content-label">
          <label for="option-new-password">新しいパスワード</label>
        </div>
        <span class="help-icon fa fa-question-circle" id="option-new-password-help"></span>
        <div class="content-input">
          <input type="password" id="option-new-password" class="form-control" value="<%- password %>" placeholder="Enter new password">
        </div>
      </div>
      <div class="content-item form-group" id="logined-change-password-area">
        <button class="btn btn-default" id="change-password-submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 変更</button>
      </div>
      <div class="content-item-header">
        ログアウト
      </div>
      <div class="content-item" id="logined-message">
        <div class="content-label">
          <label for="logined-id">ID</label>
        </div>
        <span class="help-icon fa fa-question-circle" id="logined-id-help"></span>
        <div class="content-input">
          <input type="text" id="logined-id" class="form-control" value="<%- id %>" disabled>
        </div>
      </div>
      <div class="content-item form-group" id="logined-logout-area">
        <button class="btn btn-default" id="logout-submit"><i class="fa fa-sign-out" aria-hidden="true"></i> ログアウト</button>
      </div>
    </script>
    <!-- diary-table -->
    <script type="text/template" id="diary-table-template">
      <div class="content-item item-list">
        <button type="button" class="btn btn-default" id="diary-submit-add">
          <span class="fa fa-plus-circle"></span>
          新規作成
        </button>
        <button type="button" class="btn btn-default" id="diary-submit-edit" disabled>
          <span class="fa fa-edit"></span>
          編集
        </button>
        <button type="button" class="btn btn-default" id="diary-submit-delete" disabled>
          <span class="fa fa-trash"></span>
          削除
        </button>
        <button type="button" class="btn btn-default" id="diary-submit-refresh">
          <span class="fa fa-refresh"></span>
          更新
        </button>
        <div id="diary-search">
          <input type="text" id="diary-search-text" class="form-control" placeholder="検索" value="<%- search %>">
        </div>
      </div>
      <% if (dataExists) { %>
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>タイトル</th>
                <th>更新日時</th>
              </tr>
            </thead>
            <tbody id="diary-tbody">
            </tbody>
          </table>
        </div>
      <% } %>
    </script>
    <!-- diary-tbody -->
    <script type="text/template" id="diary-tbody-template">
      <tr class="diary-<%- diary['id'] %> diary-main" id="diary-<%- diary['id'] %>-main">
        <td><%- diary['title'] %></td>
        <td><%- diary['updateDate'] %></td>
        <td><%- diary['telephone'] %></td>
      </tr>
    </script>
    <!-- diary-hover -->
    <script type="text/template" id="diary-hover-template">
      <div class="diary-<%- diary['id'] %> diary-hover" id="diary-<%- diary['id'] %>-detail" style="display:none;">
        <% if (diary['imageName'] != null) { %>
          <% let imageId = 0; %>
          <% for (const imageName of diary['imageName'].split(',')) { %>
            <% if (imageName.length > 0) { %>
              <div class="diary-image-area">
                <img class="diary-image diary-image-<%- diary['id'] %>-<%- imageId %>" src="image/<%- imageName %>">
              </div>
              <% imageId ++; %>
            <% } %>
          <% } %>
        <% } %>
        <div>
          <pre><%- diary['content'] %></pre>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default diary-<%- diary['id'] %>-edit">
            <span class="fa fa-edit"></span>
            編集
          </button>
          <button type="button" class="btn btn-default diary-<%- diary['id'] %>-delete">
            <span class="fa fa-trash"></span>
            削除
          </button>
          <button type="button" class="btn btn-default diary-<%- diary['id'] %>-close">
            <span class="fa fa-close"></span>
            閉じる
          </button>
        </div>
      </div>
    </script>
    <!-- diary-detail -->
    <script type="text/template" id="diary-detail-template">
      <div class="content-item form-inline">
        <div class="content-label">
          <label for="detail-title">タイトル</label>
        </div>
        <div class="content-input">
          <input type="text" id="detail-title" class="form-control" value="<%- diary['title'] %>">
        </div>
      </div>
      <div class="content-item form-inline">
        <div class="content-label">
          <label for="detail-content">内容</label>
        </div>
        <div class="content-input">
          <textarea id="detail-content" class="form-control" rows="3"><%- diary['content'] %></textarea>
        </div>
      </div>
      <div class="content-item form-inline">
        <div class="content-label">
          <label for="detail-image">画像</label>
        </div>
        <div class="content-input input-group" id="detail-image">
          <span class="input-group-btn">
            <% if (diary['imageName'].length > 0) { %>
              <button type="button" class="btn btn-default detail-image-preview">
                <img src="image/<%- diary['imageName'] %>">
              </button>
            <% } %>
            <button type="button" class="btn btn-default detail-choose-file">
              <span class="fa fa-file"></span>
              画像選択
            </button>
          </span>
          <input type="file" class="detail-upload">
          <input type="text" class="form-control upload-file-name" value="<%- diary['imageName'] %>" placeholder="アップロードする画像を選択してください" readonly>
        </div>
      </div>
      <div class="content-item form-inline">
        <div class="content-input">
          <button class="btn btn-default" id="detail-submit-increase-image"><i class="fa fa-plus-square" aria-hidden="true"></i> 画像をさらに追加</button>
        </div>
      </div>
      <div class="content-item form-inline display-none">
        <div class="content-label">
          <label for="detail-register-date">登録日時</label>
        </div>
        <div class="content-input">
          <input type="text" id="detail-register-date" class="form-control" value="<%- diary['registerDate'] %>" disabled>
        </div>
      </div>
      <div class="content-item form-inline display-none">
        <div class="content-label">
          <label for="detail-update-date">更新日時</label>
        </div>
        <div class="content-input">
          <input type="text" id="detail-update-date" class="form-control" value="<%- diary['updateDate'] %>" disabled>
        </div>
      </div>
      <div class="content-item form-group">
        <% if (add) { %>
          <button class="btn btn-default" id="detail-submit-add"><i class="fa fa-plus-circle" aria-hidden="true"></i> 追加</button>
        <% } else { %>
          <button class="btn btn-default" id="detail-submit-save"><i class="fa fa-floppy-o" aria-hidden="true"></i> 保存</button>
          <button class="btn btn-default" id="detail-submit-delete"><i class="fa fa-trash" aria-hidden="true"></i> 削除</button>
        <% } %>
        <button class="btn btn-default" id="detail-submit-close"><i class="fa fa-close" aria-hidden="true"></i> 閉じる</button>
      </div>
    </script>
    <!-- script -->
    <!-- error -->
    <script src="js/mylib/error.js"></script>
    <!-- lib -->
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/jquery-3.2.0.min.js"></script>
    <script src="js/lib/jquery.easing.1.3.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/sha256.js"></script>
    <!-- mylib -->
    <script src="js/mylib/common.js"></script>
    <script src="js/mylib/confirm.js"></script>
    <script src="js/mylib/init.js"></script>
    <script src="js/mylib/popover.js"></script>
    <script src="js/mylib/process-stack.js"></script>
    <script src="js/mylib/scroll.js"></script>
    <script src="js/mylib/static-class.js"></script>
    <script src="js/mylib/switch.js"></script>
    <script src="js/mylib/extension.js"></script>
    <script src="js/mylib/content.js"></script>
    <!-- myapp -->
    <script src="js/myapp/project.js"></script>
    <script src="js/myapp/sd-process.js"></script>
    <script src="js/myapp/user.js"></script>
    <script src="js/myapp/diary.js"></script>
    <script src="js/myapp/diary-detail.js"></script>
    <!-- app -->
    <script src="js/global.js"></script>
    <script src="js/myapp.js"></script>
  </body>
</html>
