@charset "utf-8";

// Large desktop

@include media($size-large) {
  
  // header
  
  header {
    width: 1062px;
    @include margin-auto;
  }
  
  // footer
  
  footer {
    width: 1062px;
    @include margin-auto;
  }
  
  // nav
  
  .navbar {
    width: 1182px;
    @include margin-auto;
  }
  
  // content
  
  .content {
    width: 1064px;
  }
}
