@charset "utf-8";

// main

main {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background: $main-back;
  @include border-c(top);
  @include border-c(bottom);
  
  // content
  
  .content {
    width: 90%;
    @include margin-auto(10px);
    padding: 10px;
    overflow: hidden;
    @include border-c();
    border-radius: $border-radius-size;
    
    // item
    
    .content-item {
      width: 100%;
      padding: 4px;
      overflow: hidden;
      
      li {
        margin: 8px;
      }
      
      // name
      
      .content-item-name {
        width: 100%;
        padding-bottom: 8px;
        text-align: center;
        @include border-c(bottom);
      }
      
      // keys
      
      .content-item-keys {
        width: 100%;
        padding: 8px 16px;
        
        .content-item-key {
          margin-bottom: 8px;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      
      // label
      
      .content-label {
        display: inline-table;
        
        label {
          margin: 0;
          margin-bottom: 8px;
        }
      }
      
      // checkbox
      
      .checkbox {
        display: inline-table;
      }
      
      // item-list
      .item-list {
        & > * {
          margin-top: 4px;
          padding-top: 4px;
        }
      }
    }
    
    // header
    
    .content-header {
      width: 100%;
      margin-bottom: 8px;
      text-align: center;
      font-weight: bold;
      font-size: 1.5em;
      
      button {
        margin-left: 8px;
      }
    }
    
    // item-header
    
    .content-item-header {
      width: 100%;
      margin-bottom: 4px;
      text-align: center;
      font-weight: bold;
      font-size: 1.2em;
      
      button {
        margin-left: 4px;
      }
    }
    
    // help
    
    .help-icon {
      line-height: 22px;
      padding: 6px;
      cursor: pointer;
      position: relative;
      z-index: $z-help-icon;
    }
    
    // animation
    
    .loading-spinner {
      @include animation($animation-rotate 2s linear infinite);
    }
    
    .loading-dot::after {
      content: '';
      @include animation($animation-dotting 3s linear infinite);
    }
    
    // keyframes
    
    @include keyframes($animation-rotate) {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
    @include keyframes($animation-dotting) {
      25% {
        content: '.';
      }
      50% {
        content: '..';
      }
      75% {
        content: '...';
      }
    }
  }
}
