
// var

$none: none;

// main

$main-back: #fff;
$main-color: #333;
$main-color-active: #111;
$main-color-passive: #666;

// border

$border-size: 1px;
$border-radius-size: 4px;

$border-style: solid;

$border-color: #ddd;
$border-color-active: #666;
$border-color-passive: #ccc;

// size

$size-mobile: 0px;
$size-tablet: 768px;
$size-medium: 992px;
$size-large: 1200px;

// content

$content-label-side: 160px;

// animation

$animation-rotate: infinite-rotate;
$animation-dotting: dotting;

// z-index

$z-diary-hover: 20;
$z-help-icon: 10;

// app

$app-back: #f8f8f8;

// function

@mixin transition($type:all, $time:.5s) {
  -webkit-transition: $type $time;
  -o-transition: $type $time;
  transition: $type $time;
}

@mixin margin-auto($top:$none, $bottom:$none) {
  @if $bottom != $none {
    margin: $top auto $bottom;
  } @else if $top != $none {
    margin: $top auto;
  } @else {
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin border-c($type:all, $color:$border-color) {
  @if $type == all {
    border: $border-size $border-style $color;
  } @else if $type == top {
    border-top: $border-size $border-style $color;
  } @else if $type == bottom {
    border-bottom: $border-size $border-style $color;
  } @else if $type == left {
    border-left: $border-size $border-style $color;
  } @else if $type == right {
    border-right: $border-size $border-style $color;
  }
}

@mixin border-s($type:all, $size:$border-size, $color:$border-color) {
  @if $type == all {
    border: $size $border-style $color;
  } @else if $type == top {
    border-top: $size $border-style $color;
  } @else if $type == bottom {
    border-bottom: $size $border-style $color;
  } @else if $type == left {
    border-left: $size $border-style $color;
  } @else if $type == right {
    border-right: $size $border-style $color;
  }
}

@mixin border($type:all, $size:$border-size, $style:$border-style, $color:$border-color) {
  @if $type == all {
    border: $size $style $color;
  } @else if $type == top {
    border-top: $size $style $color;
  } @else if $type == bottom {
    border-bottom: $size $style $color;
  } @else if $type == left {
    border-left: $size $style $color;
  } @else if $type == right {
    border-right: $size $style $color;
  }
}

@mixin media($width:$size-mobile) {
  @media (min-width: $width) {
    @content
  }
}
